<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->



<!-- <div class="container-lg">
  <div class="row row-middle">
    <div class="site-header-col-left">
      <div class="site-title title-font">
        <a href="/">Michael Matys</a>
        <div class="site-subtitle visible-desktop">Freelance Artist &amp; Animator</div>
      </div></div><div class="site-header-col-right text-right">
        <div class="hidden-desktop site-header-menu-btn" data-responsive-nav-toggle-btn="">
          <div class="menu-icon">
            <span class="menu-icon-line"></span>
            <span class="menu-icon-line"></span>
            <span class="menu-icon-line"></span>
          </div>
        </div>
        <div class="visible-desktop">
          <div class="header-nav">
            <div class="header-nav-item">
              <a target="_self" href="/">Home</a>
            </div>
            <div class="header-nav-item active">
              <a target="_self" href="/resume">Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="responsive-nav-container hidden-desktop">
      <div class="row">
        <div class="col-12 col-tablet-4">
          <ul class="nav">
            <li class="header-nav-item">
              <a target="_self" href="/">Home</a>
            </li><li class="header-nav-item active">
              <a target="_self" href="/resume">Resume</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header> -->
<div class="about-page">
  <div class="about-intro text-center">
    <div class="container">
      <div class="about-photo">
        <img width="160" height="160" alt="Michael Matys" src="https://cdnb.artstation.com/p/users/avatars/000/430/479/large/dbb6a88d9d354bcfd9922db9dbce07b9.jpg?1494424046" />
      </div>
      <div class="about-name site-title title-font">Michael Matys</div>
      <div class="about-position">Freelance Artist &amp; Animator</div>
      <div class="about-location"><span class="icon icon-location">
      </span>Barrie, Canada</div>
      <div class="about-email">
        <a href="mailto:michael.levi.matys@gmail.com">michael.levi.matys@gmail.com</a>
      </div>
      <div class="about-social">
        <div class="socials-list">
          <div class="socials-item">
            <a class="socials-link icon icon-artstation" style="display: block !important;" href="https://www.artstation.com/mikematysmedia"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="about-section">
      <h2>Summary</h2>
      <p>Hi! My name is Michael Matys. After spending the past two years in animation related courses I feel ready to take the next step in my career to become part of a real team, and to lend my skills to something meaningful while I continue to learn.
        I have learned many programs over the course of my education including Flash, Photoshop, After Effects and TV Paint 11. Over the time I have spent learning in various animation softwares, I have learned to incorporate the strongest elements of
        each in my work so that I may produce the most convincing results. Since my growth is a result of my deep passion for storytelling and the animated medium, I am constantly looking to improve and involve myself in all the aspects of animation so
        that I may be even more useful to the teams I'm a part of in the future. </p>
    </div>
    <div class="about-section">
      <h2>Skills</h2>
      <div class="tag-list">
        <span class="tag">2D Animation</span>
        <span class="tag">Illustration</span>
        <span class="tag">Character Design</span>
        <span class="tag">Character Animation</span>
        <span class="tag">art</span>
      </div>
    </div>
    <div class="about-section-last">
      <h2>Software proficiency</h2>
      <div class="software-icons">
        <div class="software-icon-item">
          <img width="60" height="60" alt="After Effects" class="software-icon-image" src="https://cdnb.artstation.com/p/softwares/icons/000/000/003/default/aftereffects.png?1504882719" />
          <div class="software-icon-name">After Effects</div>
        </div>
        <div class="software-icon-item">
          <img width="60" height="60" alt="Photoshop" class="software-icon-image" src="https://cdna.artstation.com/p/softwares/icons/000/000/032/default/Photoshop.png?1424684351" />
          <div class="software-icon-name">Photoshop</div>
        </div>
        <div class="software-icon-item">
          <img width="60" height="60" alt="Flash" class="software-icon-image" src="https://cdnb.artstation.com/p/softwares/icons/000/000/073/default/flash.png?1424862959" />
          <div class="software-icon-name">Flash</div>
        </div>
        <div class="software-icon-item">
          <img width="60" height="60" alt="TVPaint" class="software-icon-image" src="https://cdna.artstation.com/p/softwares/icons/000/000/146/default/TVPaint.png?1435090814" />
          <div class="software-icon-name">TVPaint</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer text-center">
  <small>&copy; Mike Matys</small>
</div>
