h1, h2, h3, h4 {
    margin-top: 3.75rem;
    margin-bottom: 0.9375rem;
    color: #fff;
}

.about-page {
    font-size: 1rem;
    line-height: 1.375;
    background-color: #171717;
    color: #f1f1f1;
}

.footer {
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  background-color: #222222;
  color: #fff;
}

.about-name {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1.25rem;
    margin-bottom: 0.25rem;
    text-transform: none;
}

.about-intro {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #222222;
}

.about-position {
    font-size: 1.25rem;
}

.about-location {
    margin-top: 0.5625rem;

}

.about-email {
    margin-top: 1.25rem;
}

.about-section {
  padding-bottom: 2.5rem;
  border-bottom: solid 0.0625rem #383838;
}

.about-section-last {
  padding-bottom: 2.5rem;
}

.tag-list {
    font-size: 0;
    margin-left: -0.3125rem;
}

.tag-list .tag {
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    margin-bottom: 0.625rem;
}

.tag {
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 0.6875rem;
    color: inherit;
    border: solid 1px currentColor;
    padding: 0.375rem 0.9375rem;
    border-radius: 0.125rem;
}

.about-photo img {
    vertical-align: top;
    border-radius: 50%;
}

.software-icons {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 48em)
.software-icon-item {
    width: 33%;
}

@media (min-width: 48em)
.software-icon-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.9375rem;
}

.software-icon-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.9375rem;
}

.software-icon-name {
    padding: 0 0.9375rem;
}
